section {
  margin-top: 2rem;
}

section img {
  margin: 0 1rem;
}

.carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-items {
  display: flex;
}

.carousel-item {
  opacity: 0.25;
}

.carousel-item.active {
  opacity: 1;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
